h2 {
    color: #000000;
    font-family: "Arial, Helvetica, sans-serif" ;
}

h3 {
    color: #000000;
    font-family: "Arial, Helvetica, sans-serif" ;
}

footer {
    margin-top: 60px;
}

.validation-message {
    font-style: normal;
    font-size: 10px;
    color: #FF1C19;
}

p {
  color: #000000;
}

a {
    transition: all .2s;
}

a:hover, a:focus, a:active {
    color: #989898;
    text-decoration: none;
}

.pagination {
    display: block;
    text-align: center;
}
